@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Red+Rose:wght@600&display=swap');

.head{
    font-size: 2rem;
    margin:2rem;
    width:100%;
    font-family: 'Red Rose', cursive;
    color: black;
    cursor: crosshair;
    justify-content: space-around;
    padding: 3rem 6%;
}
p{
    font-family: 'Red Rose', cursive;
    color:blue;
}
body{
    background-size: cover;
}
.logo{
    size:30%;
    cursor:grab;
    position: relative;
    
}